/* styles */
body{
	background-color: rgb(235,78,56);
	color: white;
	margin: 0 auto;
	font-family: "Microsoft New Tai Lue";
}

/* header */
#header{
	width: 100%;
	overflow: auto;
	margin-bottom: 15px;
}

#header .logo{
	margin: 25px 50px;
	float: left;
	padding: 15px;
	border-radius: 5px;
	border: 5px solid white;
	font-size: 36px;
	text-transform: uppercase;
}

#header .logo span{
	font-weight: bold;
}

#header .menu{
	float: right;
}

#header .menu ul{
	list-style-type: none;
	margin: 30px;
}

#header .menu ul li{
	display: inline-block;
	padding: 30px 50px;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	transition: all .5s linear;
}

#header .menu ul li:hover{
	background-color: white;
	color: rgb(235, 78, 56);
	transition: all .5s linear;
}

/* home */
#home{
	background-image: url('../resources/tri-wal.jpg');
	text-align: center;
	background-size: cover;
	padding: 30px 0;
	height: auto;
}

#home .title{
	font-size: 48px;
	text-transform: uppercase;
	padding: 15px 0px;
	padding-bottom: 10%;
}

#home .explain{
	text-transform: uppercase;
	font-size: 24px;
	padding: 20px 0;
}

#home .btn{
	text-transform: uppercase;
	font-size: 18px;
	padding: 20px;
	margin: 10px 40%;
	border: 5px white solid;
	word-wrap: break-word;
}

/* about */
#about{
	margin-top: 30px;
	padding: 10px;
}

#about .title{
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-bottom: 30px;
}

#about .title span{
	font-weight: bold;
}

#about .box{
	border: 5px white solid;
	border-radius: 5px;
	margin: 0 50px;
	padding: 15px;
	text-align: justify;
}

#about .box .nama{
	font-size: 36px;
	text-transform: uppercase;
}

#about .box .desc{
	line-height: 30px;
	font-size: 20px;
}

#about .box .nama, #about .box .desc{
	margin: 25px 40px;
}

/* contact */
#contact{
	background-color: white;
	color: rgb(235, 78, 56);
	margin-top: 35px;
	padding: 10px;
}

#contact .title{
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	padding: 20px 0; 
	margin-bottom: 30px;
}

#contact .title span{
	font-weight: bold;
}

#contact .box{

	text-align: justify;	
}

#contact .box .desc{
	font-size: 18px;
	text-transform: uppercase;
}

#contact .box .desc span{
	margin: 0 40px;
	padding: 0 65px;
}

#contact .box .desc ul{
	list-style-type: none;
	text-align: center;
}

#contact .box .desc ul li{ 
	display: inline-block;
	border: 5px solid rgb(235, 78, 56);
	margin: 0 30px;
	width: 300px;
	height: auto;
	padding: 10px;
}

#contact .box .desc ul li img{ 
	float: left;
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}

#contact .box .desc ul li span{ 
	clear: both;
}

/* footer */
#footer{
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 10px;
	padding: 25px;
}

@media and only screen (max-width: 768px){
	body{
		background-color: blue;
	}
}